@import './styles/colors.scss';
@import '@fontsource/josefin-sans';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $clr-page-bg;
  background-image: url('./images/lighthouse-g62b283a36_1920.jpg');
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100vw 300px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

button, select, textarea, input {
  font: inherit;
}

input:focus::placeholder {
  color: transparent;
}

.todo-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 200px auto 12px;
}
