@import './styles/colors.scss';
@import '@fontsource/josefin-sans';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $clr-page-bg;
  font-family: 'Josefin Sans', sans-serif;
}
