@import 'src/styles/colors.scss';

.todo {
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 4px;
    padding: 16px 18px 16px 16px;
    width: 380px;
    border: 1px solid $clr-ds-5;
    border-radius: 4px;
    color: $clr-white;
  }
  &-row__complete {
    color: $clr-ds-3;
    text-decoration: line-through;
  }
  &-editinput {
    outline: none;
    border: none;
    color: $clr-ds-3;
    background-color: transparent;
  }
  &-icons {
    display: flex;
    font-size: 20px;
    cursor: pointer;
  }
}
